#contenedorPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}

.cuadro {
  margin: 2%;
  border: 3px solid rgb(160, 255, 160);
  border-radius: 20px;
  padding: 2%;
  background-color: rgba(58, 255, 189, 0.551);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cuadro > p {
  width: 70%;
}

.trabajadores {
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#alberto, #carlos, #dani, #jose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 3px solid rgb(160, 255, 160);
  border-radius: 20px;
  width: 20%;
  height: 300px;
  padding-top: 5%;
  padding-bottom: 5%;
  transition: all 0.5s;
}

#alberto:hover, #carlos:hover, #dani:hover, #jose:hover {
  border: 3px solid rgb(0, 93, 40);
  background-color: rgba(0, 115, 67, 0.528);
  border-radius: 50px;
}

#alberto p, #carlos p, #dani p, #jose p {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

#contenedorPrincipal img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 20%;
}

#contenedorPrincipal h2 {
  font-size: 3rem;
  text-transform:uppercase;
  text-decoration:underline;
  color: rgb(255, 255, 255);
}