nav a{
    text-decoration: none;
    color:inherit;
    font-size: 14px;
    width: 75%;
}

nav li{
    display:inline-block;
    width: 10%;
    padding: 5px 10px;
    background-color: #aa0b1d;
    border: 1px solid #aa0b1d;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

nav li:hover{
    background-color: #fff;
    color: #000;
}

.Equipo{
    text-align: center;
}


img{
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(160, 0, 21);
    border: 4px;
}

p{
    text-align: center;
    background-color: rgb(255, 0, 0);
    padding: 5px 10px;
    color: #fff;
    margin-top: 10px;
    border: 3px solid rgb(82, 39, 39);
    width: 10%;

}