#contenedorPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}

#contenedorPrincipal > h2 {
  font-size: 3rem;
  text-transform:uppercase;
  text-decoration:underline;
  color: rgb(255, 255, 255);
}

.descripcion {
  margin: 2%;
  border: 3px solid rgb(160, 255, 160);
  border-radius: 20px;
  padding: 2%;
  background-color: rgba(58, 255, 189, 0.551);
  width: 50%;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

video {
  width: 50%;
}